<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-header">Manager Bids</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-sm-2">
					<span th:text="|Total: ${bids.getTotalElements()} records.|">
					</span>
					<p />
					<label>Show: <select id="maxRow"
						onchange="getListOfRowBids()">
							<option th:each="i : ${#numbers.sequence(5, 20,5)}"
								th:value="${i}" th:text="${i}"
								th:selected="${ i== bids.getSize() } ">Options</option>
					</select> rows.
					</label>
				</div>
				<div class="col-sm-8 text-center">
					<!-- Button pagination -->
					<ul class="pagination pagination-sm"
						th:each="i : ${#numbers.sequence(1, bids.getTotalPages())}">
						<li th:unless="${i} == ${bids.getNumber()+1}"><a
							th:href="@{/admin/adminBids(page=${i-1},maxRows=${bids.getSize()})}"
							th:text="${i}"></a></li>
						<li th:if="${i} == ${bids.getNumber()+1} " class="active"><a
							href="#" th:text="${i}"></a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<p class="text-right">
						<!-- <a href="#" th:href="@{/admin/newUser}"
						class="btn btn-info">Add new Account</a> -->
					</p>
				</div>
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">List of Users</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="dataTable_wrapper">
								<table id="example" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Bid Id</th>
											<th>Item Id</th>
											<th>Amount</th>
											<th>Bidder Id</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr data-th-each="us,i : ${bids}">
											<td data-th-text="${i.count}">1</td>
											<td data-th-text="${us.numberIndex}">1</td>
											<td data-th-text="${us.itemId.itemTitle}">John</td>

											<td data-th-text="${us.amount}">Dang su dung</td>
											<td data-th-text="${us.bidderId.userName}">false</td>

											<td><a th:href="@{editBid(id=${us.numberIndex})}">Edit
											</a> / <a th:href="@{deleteBid(id=${us.numberIndex})}">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->
							<span th:text="${message}" class="text-success"> </span>
							<div class="col-sm-12">
								<form th:action="@{/admin/saveBid}" th:object="${bid}"
									method="post">
									<!-- /.Form edit User -->
									<div class="form-group">
										<label class="col-sm-1" for="email">Id:</label>
										<div class="col-sm-5">
											<input type="text" class="form-control"
												th:field="*{numberIndex}" readonly="readonly" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1" for="pwd">Name:</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" readonly="readonly"
												th:field="*{bidderId.userName}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1" for="pwd">Amount:</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" readonly="readonly"
												th:field="*{amount}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1" for="pwd">Item:</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" readonly="readonly"
												th:field="*{itemId.itemTitle}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1" for="pwd">Date:</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" th:field="*{date}"
												readonly="readonly" />
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-1 col-sm-5">
											<button type="submit" class="btn btn-success">Save</button>
										</div>

									</div>
								</form>
							</div>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-sm-12 -->
			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>
</body>
</html>
